@import "./colors.css";

html {
    background-color: var(--primary);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    margin: 0 0;
    padding: 0 0;
    /* border: 1px solid violet; */
}

a, #user_info_options button {
    background-color: var(--secondary);
    color: var(--text-secondary);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: inherit;
    text-decoration: none;
}

a:hover, #user_info_options button:hover {
    background-color: var(--tertiary);
    color: var(--text-tertiary);
    cursor: pointer;
}

header {
    min-height: 50px;
    padding: 10px;
}

header h1 {
    font-style: italic;
    font-weight: bold;
    margin-right: 20px;
    text-shadow: 1px 2px rgb(63, 63, 63);
}

header nav {
    align-items: end;
    justify-content: space-evenly;
    width: 60%;
    font-size: 1.3rem;
}

header nav a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    text-shadow: 1px 2px rgb(63, 63, 63);
}

header nav a:hover {
    background-color: var(--secondary);
    color: var(--text-secondary);
    text-shadow: none;
}

main {
    min-height: 500px;
}

main section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section > * {
    width: 80%;
}

h2 {
    padding: 10px;
}

#book-meta {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#book-meta li {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}

#book-meta li * {
    width: 50%;
}

label, select, input {
    display: block;
    height: 1.5rem;
    box-sizing: border-box;
}

.filter-form label {
    margin-right: 5px;
    line-height: 1.5rem;
}

.filter-form .upper {
    margin-bottom: 20px;
}

.filter-form .upper div {
    min-width: 100px;
}

.filter-form .lower * {
    margin-right: 20px;
}

.filter-form button {
    width: 50px;
    height: 1.5 rem;
    display: block;
}

#list-head {
    font-weight: bold;
}

.book-el {
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    max-height: 4rem;
    padding: 5px;
}

.book-el a {
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    display: inherit;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--secondary);
    box-sizing: border-box;
    padding: 5px;
}

.book-el a:hover {
    color: var(--text-tertiary);
    background-color: var(--tertiary);
}

.author {
    width: 30%;
}

.title {
    width: 60%;
}

.language, .year {
    width: 10%;
}

.year {
    text-align: center;
}

#user_form {
    width: 400px;
}

#user_form > * {
    margin-bottom: 10px;
}

#user_form input, #user_form textarea {
    width: 400px;
}

#user_form button {
    display: block;
    padding: 5px;
    justify-self: center;
}

#user_form ul, .errorlist {
    list-style: none;
    text-decoration: underline;
}

#pagination {
    justify-content: center;
    align-items: center;
}

#pagination ul {
    list-style: none;
    padding: 5px;
    width: 70%;
    align-items: center;
    justify-content: center;
}

#pagination a {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    color: inherit;
    text-decoration: none;
    text-align: center;
    line-height: 2.5rem;
}

#pagination .active {
    background-color: var(--tertiary);
    color: var(--text-tertiary);
    border: 1px solid var(--text-tertiary);
    border-radius: 5%;
}

#pagination .active:hover, .disabled {
    background-color: var(--secondary);
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);
}

#user_info {
    width: 400px;
}

#user_info * {
    margin-bottom: 20px;
}

#user_info_options button {
    border: none;
}

#user_info_options * {
    margin-left: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-bottom: 10px;
}
