{% extends 'base.html' %}

{% block content %}

{% include 'books/includes/filter_form.html' with languages=languages %}

<section>
<ul id="book-list">
    <li id="list-head" class="book-el flex tertiary">
        <div class="title">Title</div> 
        <div class="author">Author</div> 
        <div class="language">Language</div> 
        <div class="year">Edition Year</div>
    </li>
    {% for object in object_list %}
    <li class="book-el flex"> 
    <a href="{% url 'books:book_detail' object.file_name %}">
        <div class="title">{{ object.title|default:"&mdash;" }}</div>
        <div class="author">{{ object.author|default:"&mdash;" }}</div>
        <div class="language">{{ object.language|capfirst|default:"&mdash;" }}</div>
        <div class="year">{{ object.date|truncatechars:4|default:"&mdash;" }}</div>
    </a>
    </li>
    {% endfor %}
</ul>

</section>

{% include 'books/includes/list_pagination.html' %}

{% endblock %}
