{% extends 'base.html' %}

{% block content %}

<section>
    <form action="{% url 'books:books_list' %}" method="get">
            
            <label for="title">Title</label> <input type="text" name="title">
            <label for="author">Author</label> <input type="text" name="author">
            <label for="lang">Language</label>
            <select name="lang">
                <option value="">&mdash;</option>
                <option value="latin">Latin</option>
                <option value="english">English</option>
            </select>
            <input type="submit"/>
    </form>
</section>

<section>

<ul id="book-list">
    <li id="list-head" class="book-el flex tertiary">
        <div class="title">Title</div> 
        <div class="author">Author</div> 
        <div class="language">Language</div> 
        <div class="year">Edition Year</div>
    </li>
    {% for object in object_list %}
    <li class="book-el flex">
        <div class="title">{{ object.short_title|default:"&mdash;" }}</div>
        <div class="author">{{ object.short_author|default:"&mdash;" }}</div>
        <div class="language">{{ object.cap_lang|default:"&mdash;" }}</div>
        <div class="year">{{ object.short_date|default:"&mdash;" }}</div>
    </li>
    {% endfor %}
</ul>

</section>

{% include 'books/includes/list_pagination.html' %}

{% endblock %}
