{% load query_transform %}
{% if is_paginated %}
<div id="pagination" class="flex">

    {% if page_obj.has_previous %}
    <div><a 
        href="?{% query_transform page=page_obj.previous_page_number %}" 
        class="active"
        >&lt;&lt;</a></div>
    {% else %}
    <div><a class="disabled">&lt;&lt;</a></div>
    {% endif %}

<ul class="flex flex-wrap">

    {% for i in paginator.page_range %}

    {% if page_obj.number == i %}
    <li><a class="disabled"> {{ i }}</a></li>
    {% else %}
    <li><a href="?{% query_transform page=i %}" 
        class="active"> {{ i }} </a></li>
    {% endif %}

    {% endfor %}

</ul>

    {% if page_obj.has_next %}
    <div><a href="?{% query_transform page=page_obj.next_page_number %}" 
        class="active">&gt;&gt;</a></div>
    {% else %}
    <div><a class="disabled">&gt;&gt;</a></div>
    {% endif %}

</div>
{% endif %}