{% extends 'base.html' %}

{% block content %}

<section>
    <h2>About the Project</h2>
    <p>
        The goal of this project is to give a larger audience access to a catalogue of classical books, 
        available in human readable and machine readable format.
        All the books here are sourced from 
        <a href="https://github.com/PerseusDL/canonical-latinLit.git">
            github.com/PerseusDL/canonical-latinLit.git
        </a> which is a part of 
        <a href="https://www.opengreekandlatin.org/">
            Open Greek and Latin Project
        </a>.
        All the books are in TEI XML format. More about the format can be learnt 
        <a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/index.html">here</a>.
        
    </p>
</section>

{% endblock %}